body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("../../home.jpg");
	background-size: cover;
	background-position: center;
  }
  
.navbar {
	background-color: #030303;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 10px;
  }
  
  .navbar-brand {
	margin-right: auto;
	font-weight: bold;
  }
  
  .navbar-logo {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
  }
  
  .navbar-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-item {
	margin-left: 20px;
  }
  
  .nav-link {
	color: #fff;
	text-decoration: none;
  }
  
  .wrapper {
	max-width: 400px;
	margin: 100px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
	text-align: center;
	margin-top: 0;
  }
  
  header {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  .field {
	margin-bottom: 15px;
  }
  
  .input-area {
	position: relative;
  }
  
  input[type="text"],
  input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
  }
  
  .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
	color: #aaa;
  }
  
  .error-icon {
	color: #f44336;
	display: none;
  }
  
  .error-txt {
	color: #f44336;
	font-size: 12px;
	display: none;
	margin-top: 5px;
  }
  
  .pass-txt {
	text-align: right;
	margin-bottom: 10px;
  }
  
  a {
	color: #337ab7;
	text-decoration: none;
  }
  
  input[type="submit"] {
	background-color: #337ab7;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
  }
  
  input[type="submit"]:hover {
	background-color: #286090;
  }
  